<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >
    <!-- Antaa sovelluksen käyttää tarkkaa sijaintia. -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- Antaa sovelluksen käyttää likimääräistä sijaintia. -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HelloJava"
        android:usesCleartextTraffic="true"
        tools:targetApi="31" >
        <activity
            android:name=".YTJActivity"
            android:exported="false" />

        <receiver
            android:name=".APMReceiver"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".MainActivity3"
            android:exported="true"
            android:label="@string/title_activity_main3" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".gameApp"
            android:exported="true"
            android:parentActivityName=".MainActivity3" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>